{% extends 'admins/base_b.html' %}

{#标题#}
{% block title %}添加管理员{% endblock %}

{% block css %}
    <link href="{% static 'admins/assets/css/style.css' %}" rel="stylesheet"/>
    <style>
			body {
				background: url({% static 'admins/assets/images/bg2.jpg' %}) no-repeat 0px 0px;
				background-size: cover;
			}
			.error{
                color: #dc1a1a;
            }
            .mymark {
                display: none;
                position: fixed;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                margin: auto;
                z-index: 999;
                height: 40px;
                line-height: 0.88rem;
                width: 200px;
                text-align: center;
                font-size: 16px;
                line-height: 40px;
                color: #fff;
                background: rgb(248, 106, 94);
                border-radius: 0.1rem;
                box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.3);
            }
	</style>

{% endblock %}

左侧导航条



{#右侧定位标题#}
{% block contenttitle %}
    <h4 class="page-title">管理员管理</h4>
    <ol class="breadcrumb">
        <li>
            <a href="{% url 'index' %}">主页</a>
        </li>
        <li>
            <a href="#">管理员管理</a>
        </li>
        <li class="active">
            添加管理员
        </li>
    </ol>
{% endblock %}

{#主体内容#}
{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="white-box">
            <h2 class="header-title">添加管理员</h2>
            <form id="example-form" class="js-validation-bootstrap form-horizontal" action="{% url 'addadmin' %}"
                  method="post">

                <div class="form-group clearfix">
                    <label class="col-md-2  control-label" for="phone">联系电话 *</label>
                    <div class="col-md-8">
                        <input id="phone" name="phone" type="text" class="required form-control" placeholder="请输入">
                    </div>
{#                    {% if status == 0 %}#}
{#                    <p style="color: red;">{{ add_error }}</p>  <!--用户名被占用时显示-->#}
{#                    {% endif %}#}
                </div>

                <div class="form-group clearfix">
                    <label for="password1" class="col-md-2  control-label">密 码 *</label>
                    <div class="col-md-8">
                        <input id="password1" name="password1" type="password" class="required form-control"
                               placeholder="请输入">
                    </div>
                </div>

                <div class="form-group clearfix">
                    <label for="confirm1" class="col-md-2  control-label">确认密码 *</label>
                    <div class="col-md-8">
                        <input id="confirm1" name="confirm1" type="password" class="required form-control"
                               placeholder="请输入">
                    </div>
                </div>
                <div class="form-group clearfix">
                    <label for="position" class="col-md-2  control-label">职 称 *</label>
                    <div class="col-md-8">
                        <input id="position" name="position" type="text" class="required form-control"
                               placeholder="请输入">
                    </div>
                </div>
                <div class="form-group clearfix">
                    <label for="truename" class="col-md-2  control-label">真实姓名 *</label>
                    <div class="col-md-8">
                        <input id="truename" name="truename" type="text" class="required form-control"
                               placeholder="请输入">
                    </div>
                </div>
                <div class="form-group clearfix">
                    <label for=dsex" class="col-md-2  control-label">性 别 *</label>
                    <div class="col-md-4">
                        <div class="radio">
                            <input type="radio" value="女" name="dsex" id="woman" checked>
                            <label>女</label>
                        </div>
                        <div class="radio">
                            <input type="radio" value="男" name="dsex" id="man">
                            <label>男</label>
                        </div>
                    </div>
                </div>
                <div class="form-group clearfix">
                    <label for="age" class="col-md-2  control-label">年 龄 *</label>
                    <div class="col-md-8">
                        <input id="age" name="age" type="text" class="required form-control">
                    </div>
                </div>
                <div class="form-group clearfix">
                    <label class="col-md-2  control-label" for="email">邮 箱 *</label>
                    <div class="col-md-8">
                        <input id="email" name="email" type="text" class="required form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" for="details">自我描述(可不填)</label>
                    <div class="col-md-8">
                        <textarea name="details" class="form-control" rows="5"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-8 col-md-offset-2">
                        <button class="btn  btn-primary" type="submit">确认添加</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
    <script src="{% static 'admins/assets/pages/jquery.validate.min.js' %}"></script>
    <script src="{% static 'admins/assets/pages/validation-custom.js' %}"></script>
    <script>
        {% if add_success %}
            alert("{{ add_success }}");
        {% endif %}
        function myalert(str) {
            var div = '<div class="mymark"></div>';
            $('body').append(div);
            $('.mymark').html(str);
            $('.mymark').show();
            setTimeout(function () {
                $('.mymark').fadeTo(2800, 0.01, function () {//fade
                    $(this).remove();
                });
            })
        }

        window.onload = function () {
            {% if add_error %}
                myalert('{{ add_error }}');  //添加管理员失败，就会又回到这个页面，这儿是打印错误信息
            {% endif %}

        };

    </script>
    <script>
        $('#admin_manage').addClass('nav-active');
        $('#add_admin').addClass('active');  //导航栏的样式

        //表单
        var form = $("#example-form");
        form.validate({
            errorPlacement: function (error, e) {
                jQuery(e).parents('.form-group > div').append(error);
            },
            success: function (e) {
                jQuery(e).closest('.form-group').removeClass('has-error');
                jQuery(e).closest('.help-block').remove();
            },
            rules: {
                'username': {
                    required: true,
                    minlength: 3,
                },
                'email': {
                    required: true,
                    email: true
                },
                'phone':{
                    required: true,
                    phone:true
                },
                'password1': {
                    minlength: 6,
                },
                'confirm1': {
                    minlength: 6,
                    equalTo: "#password1"
                }

            },
            messages: {
                'phone': {
                    minlength: '手机格式不正确，请输入11位手机号',
                    phone: '手机格式不正确，非真正的手机号码'
                },
                'confirm1': {
                    minlength: '请输入至少6为密码',
                    equalTo: '两次输入密码不一致'
                }
            }

        });

    </script>
{% endblock %}