{% extends 'admins/base_b.html' %}

{#标题#}
{% block title %}添加管理员{% endblock %}

{% block css %}
    <link href="{% static 'admins/assets/css/style.css' %}" rel="stylesheet"/>
    <script>
        $('#admin_manage2').addClass('icon-envelope-open');
        $('#admin_manage1').addClass('nav-active');
        $('#add_doctor').addClass('active');
    </script>
{% endblock %}

左侧导航条

{% block nav %}
    <ul class="nav nav-pills nav-stacked custom-nav">
        <li>
            <a href="{% url 'index' %}"><i class="icon-note"></i> <span>主页</span></a>
        </li>

        <li class="menu-list nav-active">
            <a href="#"><i class="icon-envelope-open"></i> <span>管理员管理</span></a>
            <ul class="sub-menu-list">
                {% if user_type == "Hospital" %}
                <li>
                    <a href="{% url 'listadmin' %}"> 管理员列表</a>
                </li>
                <li class="active">
                    <a href="{% url 'addadmin' %}"> 添加管理员</a>
                </li>
                {% endif %}
                <li>
                    <a href="{% url 'modify' %}">编辑信息</a>
                </li>
            </ul>
        </li>

        <li class="menu-list">
            <a href="#"><i class="icon-home"></i> <span>医生管理</span></a>
            <ul class="sub-menu-list">
                <li>
                    <a href="{% url 'listdoctor' %}"> 医生列表 </a>
                </li>
                <li>
                    <a href="{% url 'adddoctor' %}"> 添加医生 </a>
                </li>
            </ul>
        </li>

        <li class="menu-list">
            <a href="#"><i class="icon-layers"></i> <span>心电图管理</span></a>
            <ul class="sub-menu-list">
                <li>
                    <a href="{% url 'listecg_table' %}"> 列表查看模式</a>
                </li>
                <li>
                    <a href="{% url 'listecg_img' %}"> 图片查看模式</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="{% url 'recycle' %}"><i class="icon-note"></i> <span>心电图回收站</span></a>
        </li>

    </ul>

{% endblock %}


{#右侧定位标题#}
{% block contenttitle %}
    <h4 class="page-title">管理员管理</h4>
    <ol class="breadcrumb">
        <li>
            <a href="{% url 'index' %}">主页</a>
        </li>
        <li>
            <a href="#">管理员管理</a>
        </li>
        <li class="active">
            添加管理员
        </li>
    </ol>
{% endblock %}

{#主体内容#}
{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="white-box">
            <h2 class="header-title">添加管理员</h2>
            <form id="example-form" class="js-validation-bootstrap form-horizontal" action="{% url 'addadmin' %}"
                  method="post">

                <div class="form-group clearfix">
                    <label class="col-md-2  control-label" for="phone">联系电话 *</label>
                    <div class="col-md-8">
                        <input id="phone" name="phone" type="text" class="required form-control" placeholder="请输入">
                    </div>
                    {% if status == 0 %}
                    <p style="color: red;">{{ add_error }}</p>  <!--用户名被占用时显示-->
                    {% endif %}
                </div>

                <div class="form-group clearfix">
                    <label for="password1" class="col-md-2  control-label">密 码 *</label>
                    <div class="col-md-8">
                        <input id="password1" name="password1" type="text" class="required form-control"
                               placeholder="请输入">
                    </div>
                </div>

                <div class="form-group clearfix">
                    <label for="confirm1" class="col-md-2  control-label">确认密码 *</label>
                    <div class="col-md-10">
                        <input id="confirm1" name="confirm1" type="text" class="required form-control"
                               placeholder="请输入">
                    </div>
                </div>
                <div class="form-group clearfix">
                    <label for="position" class="col-md-2  control-label">职 称 *</label>
                    <div class="col-md-8">
                        <input id="position" name="position" type="text" class="required form-control"
                               placeholder="请输入">
                    </div>
                </div>
                <!-- 这一块感觉不用，因为目前所在的就是相应的医院所在后台，肯定只能为本医院添加管理员，所以医院已经默认了。
                <div class="form-group clearfix">
                    <label class="col-md-2  control-label" for="fromwhere">所属医院 *</label>
                    <div class="col-md-8">
                        <select class="required form-control" style="color:#999999;" name="fromwhere" id="status">
                            <option value="" style="display: none;">请选择您任职医院(若无选项可能您的医院尚未注册)</option>
                                <option value="数据库中1">数据库中1</option>
                                <option value="数据库中2">数据库中2</option>
                        </select>
                    </div>
                </div>
                -->
                <div class="form-group clearfix">
                    <label for="truename" class="col-md-2  control-label">真实姓名 *</label>
                    <div class="col-md-8">
                        <input id="truename" name="truename" type="text" class="required form-control"
                               placeholder="请输入">
                    </div>
                </div>
                <div class="form-group clearfix">
                    <label for=dsex" class="col-md-2  control-label">性 别 *</label>
                    <div class="col-md-4">
                        <div class="radio">
                            <input type="radio" value="女" name="dsex" id="woman" checked>
                            <label>女</label>
                        </div>
                        <div class="radio">
                            <input type="radio" value="男" name="dsex" id="man">
                            <label>男</label>
                        </div>
                    </div>
                </div>
                <div class="form-group clearfix">
                    <label for="age" class="col-md-2  control-label">年 龄 *</label>
                    <div class="col-md-8">
                        <input id="age" name="age" type="text" class="required form-control">
                    </div>
                </div>
                <div class="form-group clearfix">
                    <label class="col-md-2  control-label" for="email">邮 箱 *</label>
                    <div class="col-md-8">
                        <input id="email" name="email" type="text" class="required form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" for="details">自我描述(可不填)</label>
                    <div class="col-md-8">
                        <textarea name="details" class="form-control" rows="5"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-8 col-md-offset-2">
                        <button class="btn  btn-primary" type="submit">确认修改</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
    <script src="{% static 'admins/assets/pages/jquery.validate.min.js' %}"></script>
    <script src="{% static 'admins/assets/pages/validation-custom.js' %}"></script>
    <script>
        //steps with form
        var form = $("#example-form");
        form.validate({
            errorPlacement: function (error, e) {
                jQuery(e).parents('.form-group > div').append(error);
            },
            success: function (e) {
                jQuery(e).closest('.form-group').removeClass('has-error');
                jQuery(e).closest('.help-block').remove();
            },
            rules: {
                'username': {
                    required: true,
                    minlength: 3,
                },
                'email': {
                    required: true,
                    email: true
                },

                'password1': {
                    minlength: 6,
                },
                'confirm1': {
                    minlength: 6,
                    equalTo: "#password1"
                }

            },
            messages: {
                'phone': {
                    minlength: '手机格式不正确，请输入11位手机号',
                    phone: '手机格式不正确，非真正的手机号码'
                },
                'confirm1': {
                    minlength: '请输入至少6为密码',
                    equalTo: '两次输入密码不一致'
                }
            }

        });

    </script>
{% endblock %}