{% extends 'admins/base_b.html' %}

{#标题#}
{% block title %}删除管理员{% endblock %}

{#左侧导航条#}
{% block nav %}
    <ul class="nav nav-pills nav-stacked custom-nav">
        <li>
            <a href="{% url 'index' %}"><i class="icon-note"></i> <span>主页</span></a>
        </li>

        <li class="menu-list nav-active">
            <a href="#"><i class="icon-envelope-open"></i> <span>管理员管理</span></a>
            <ul class="sub-menu-list">
                <li>
                    <a href="{% url 'listadmin' %}"> 管理员列表</a>
                </li>
                <li>
                    <a href="{% url 'addadmin' %}"> 添加管理员</a>
                </li>
                <li  class="active">
                    <a href="{% url 'del_admin' %}"> 删除管理员</a>
                </li>
            </ul>
        </li>

        <li class="menu-list">
            <a href="#"><i class="icon-home"></i> <span>用户管理</span></a>
            <ul class="sub-menu-list">
                <li>
                    <a href="{% url 'listdoctor' %}"> 医生列表 </a>
                </li>
                <li>
                    <a href="{% url 'adddoctor' %}"> 添加医生 </a>
                </li>
                <li>
                    <a href="{% url 'del_doctor' %}"> 删除医生 </a>
                </li>
            </ul>
        </li>

        <li class="menu-list">
            <a href="#"><i class="icon-layers"></i> <span>心电图管理</span></a>
            <ul class="sub-menu-list">
                <li>
                    <a href="{% url 'listecg_table' %}"> 列表查看模式</a>
                </li>
                <li>
                    <a href="{% url 'listecg_img' %}"> 图片查看模式</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="{% url 'recycle' %}"><i class="icon-note"></i> <span>回收站</span></a>
        </li>

    </ul>

{% endblock %}

{#右侧定位标题#}
{% block contenttitle %}
    <h4 class="page-title">管理员管理</h4>
    <ol class="breadcrumb">
        <li><a href="{% url 'index' %}">主页</a></li>
        <li><a href="#">管理员管理</a></li>
        <li class="active">删除管理员</li>
    </ol>
{% endblock %}

{#主体内容#}
{% block content %}

{% endblock %}