{% extends 'users/base_a.html' %}

{% block title %}Contact{%  endblock %}

{% block nav %}
    <li class="nav-item  mr-lg-3">
        <a class="nav-link" href="{% url 'home' %}">Home
            <span class="sr-only">(current)</span>
        </a>
    </li>
     <li class="nav-item mr-lg-3">
        <a class="nav-link" href="{% url 'about' %}">About</a>
     </li>
     <li class="nav-item dropdown mr-lg-3">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
         <div class="dropdown-menu" aria-labelledby="navbarDropdown">
             <a class="dropdown-item" href="{% url 'history' %}">Historys</a>
             <a class="dropdown-item" href="{% url 'gallery' %}">Gallery</a>
             <div class="dropdown-divider"></div>
             <a class="dropdown-item" href="{% url 'home' %}">Analysis</a>
         </div>
     </li>
     <li class="nav-item active mr-lg-3">
        <a class="nav-link" href="{% url 'contact' %}">Contact</a>
     </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'service' %}">Service</a>
    </li>
{% endblock %}
{% block currentname %}Contact{% endblock %}
{% block content %}
    <!-- contact -->
    <div class="container py-lg-5 mt-sm-5 mt-3">
        <h3 class="agile-title text-uppercase"></h3>
        <span class="w3-line"></span>
		<div class="w3ls-titles text-center mb-5">
				<h3 class="title"><span class="hdng">Contact  </span>us</h3>
				<span class="btmspn">
					<i class="fas fa-bus"></i>
				</span>
				<p class="mt-2 mx-auto">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius eum inventore consectetur dolorum, voluptatum possimus temporibus vel ab, nesciunt quod!</p>
			</div>
        <div class="row py-md-5 py-sm-3">
            <div class="col-md-6">
                <form id="contact-form" name="myForm" class="form" action="#" onsubmit="return validateForm()" method="POST">
                    <div class="form-group">
                        <label class="form-label" id="nameLabel" for="name"></label>
                        <input type="text" class="form-control" id="name" name="name" placeholder="Your name" tabindex="1">
                    </div>
                    <div class="form-group">
                        <label class="form-label" id="emailLabel" for="email"></label>
                        <input type="email" class="form-control" id="email" name="email" placeholder="Your Email" tabindex="2">
                    </div>
                    <div class="form-group">
                        <label class="form-label" id="subjectLabel" for="subject"></label>
                        <input type="text" class="form-control" id="subject" name="subject" placeholder="Subject" tabindex="3">
                    </div>
                    <div class="form-group">
                        <label class="form-label" id="messageLabel" for="message"></label>
                        <textarea rows="6" cols="60" name="message" class="form-control" id="message" placeholder="Your message" tabindex="4"></textarea>
                    </div>
                    <div class="text-center mt-5">
                        <button type="submit" class="serv_bottom btn btn-border btn-lg w-100" id="submit" onclick="Submit()">Send Message</button>
                    </div>
                </form>
            </div>
            <div class="col-md-6 map mt-md-0 mt-5" style="background-color: #383D41;">
				<!--<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d805184.6315353655!2d144.49269953060633!3d-37.971237044864175!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad646b5d2ba4df7%3A0x4045675218ccd90!2sMelbourne+VIC%2C+Australia!5e0!3m2!1sen!2sin!4v1532474074705"  allowfullscreen></iframe>-->
            </div>
        </div>
    </div>
    <!-- //contact -->
{% endblock %}

{% block js %}
    <script>
        function Submit() {
            var name = document.getElementById("name");
            var email = document.getElementById("email");
            var subject = document.getElementById("subject");
            var message = document.getElementById("message");

            $.ajax({
                url: "{% url 'contact' %}",
                type: "POST",
                data: {
                    "name": name,
                    "email": email,
                    "subject": subject,
                    "message": message
                },
                success: function(arg) {
                    arg = JSON.parse(arg);  //这个success并不是说发送成功了，仅仅是因为提交的这些数据已经提交到后台
                    alert(arg["result"]);
                }
            })
        }
    </script>

{% endblock %}


