{% extends 'users/base_a.html' %}

{% block title %}Gallery{%  endblock %}
{% block css %} <!-- gallery smoothbox  -->
    <link rel="stylesheet" href="{%  static 'users/css/smoothbox.css' %}" type='text/css' media="all" />{% endblock %}
    <style>
        .pagination {
            display: inline-block;
            padding-left: 0;
            margin: 20px 0;
            border-radius: 4px
        }

        .pagination > li {
            display: inline
        }

        .pagination > li > a,
        .pagination > li > span {
            position: relative;
            float: left;
            padding: 6px 12px;
            margin-left: -1px;
            line-height: 1.42857143;
            color: #337ab7;
            text-decoration: none;
            background-color: #fff;
            border: 1px solid #ddd
        }

        .pagination > li:first-child > a,
        .pagination > li:first-child > span {
            margin-left: 0;
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px
        }

        .pagination > li:last-child > a,
        .pagination > li:last-child > span {
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px
        }

        .pagination > li > a:focus,
        .pagination > li > a:hover,
        .pagination > li > span:focus,
        .pagination > li > span:hover {
            z-index: 2;
            color: #23527c;
            background-color: #eee;
            border-color: #ddd
        }

        .pagination > .active > a,
        .pagination > .active > a:focus,
        .pagination > .active > a:hover,
        .pagination > .active > span,
        .pagination > .active > span:focus,
        .pagination > .active > span:hover {
            z-index: 3;
            color: #fff;
            cursor: default;
            background-color: #05243e;
            border-color: #05243e;
        }

        .pagination > .disabled > a,
        .pagination > .disabled > a:focus,
        .pagination > .disabled > a:hover,
        .pagination > .disabled > span,
        .pagination > .disabled > span:focus,
        .pagination > .disabled > span:hover {
            color: #777;
            cursor: not-allowed;
            background-color: #fff;
            border-color: #ddd
        }

        .pagination-lg > li > a,
        .pagination-lg > li > span {
            padding: 10px 16px;
            font-size: 18px;
            line-height: 1.3333333
        }

        .pagination-lg > li:first-child > a,
        .pagination-lg > li:first-child > span {
            border-top-left-radius: 6px;
            border-bottom-left-radius: 6px
        }

        .pagination-lg > li:last-child > a,
        .pagination-lg > li:last-child > span {
            border-top-right-radius: 6px;
            border-bottom-right-radius: 6px
        }

        .pagination-sm > li > a,
        .pagination-sm > li > span {
            padding: 5px 10px;
            font-size: 12px;
            line-height: 1.5
        }

        .pagination-sm > li:first-child > a,
        .pagination-sm > li:first-child > span {
            border-top-left-radius: 3px;
            border-bottom-left-radius: 3px
        }

        .pagination-sm > li:last-child > a,
        .pagination-sm > li:last-child > span {
            border-top-right-radius: 3px;
            border-bottom-right-radius: 3px
        }

        .pager {
            padding-left: 0;
            margin: 20px 0;
            text-align: center;
            list-style: none
        }

        .pager li {
            display: inline
        }

        .pager li > a,
        .pager li > span {
            display: inline-block;
            padding: 5px 14px;
            background-color: #fff;
            border: 1px solid #ddd;
            border-radius: 15px
        }

        .pager li > a:focus,
        .pager li > a:hover {
            text-decoration: none;
            background-color: #eee
        }

        .pager .next > a,
        .pager .next > span {
            float: right
        }

        .pager .previous > a,
        .pager .previous > span {
            float: left
        }

        .pager .disabled > a,
        .pager .disabled > a:focus,
        .pager .disabled > a:hover,
        .pager .disabled > span {
            color: #777;
            cursor: not-allowed;
            background-color: #fff
        }
    </style>

{% block currentname %}gallery{% endblock %}

{% block content %}
<!-- gallery -->
    <div class="agileits-services py-sm-5" id="gallery">
        <div class="container py-lg-5 pt-3 pb-5">

            <div class="w3ls-titles text-center mb-3">
				<h3 class="title">Gallery</h3>
				<span class="btmspn">
					<i class="fas fa-heartbeat"></i>
				</span>
				<p class="mt-2 mx-auto">All storage</p>
			</div>
            <div class="w3ls_gallery_grids pt-md-5 pt-3">
                {% if status %}
                    <div class="row agileits_w3layouts_gallery_grid">
                        {% for img in results.object_list %}
                        <div class="col-sm-4  agileits_w3layouts_gallery_grid1 w3layouts_gallery_grid1 hover14">
                            <div class="w3_agile_gallery_effect">
                                {% if img.img_user %}
                                    <a href="{{ img.upload_to }}" class="sb" title="于{{ img.upload_time }}上传'{{ img.img_user }}'的心电图">
                                {% else %}
                                    <a href="{{ img.upload_to }}" class="sb" title="于{{ img.upload_time }}上传'未命名'的心电图">
                                {% endif %}
                                    <figure>
                                        <img src="{{ img.upload_to }}" alt="图片不存在了" height="280" width="280" class="img-fluid" />
                                    </figure>
                                </a>
                            </div>
                        </div>
                        {% endfor %}
                    </div>

                {% else %}
                    <p>您尚未上传过任何图片</p>
                {% endif %}
                </div>
            </div>
            <!--分页开始-->
                <ul class="pagination">
                    {% if results.has_previous %}  <!--判断是否有上一页-->
                        <li><a href="./?page=1">首页</a></li> <!--链接到首页-->
                        <li><a href="?page={{ results.previous_page_number }}" title="上一页">上一页</a></li>
                        <!--<li><a>...</a></li>-->
                    {% else %}
                        <li class="disabled"><a href="javascript:void(0);" title="上一页">上一页</a></li>
                    {% endif %}

                    {% for page in page_range %}
                        {% ifequal page results.number %}  <!--当前页-->
                            <li class="active"><a href="javascript:void(0);">{{ page }}</a></li>
                        {% else %}
                            <li><a href="?page={{ page }}" title="第{{ page }}页">{{ page }}</a></li>
                        {% endifequal %}
                    {% endfor %}

                    {% if results.has_next %}  <!--判断是否有下一页-->
                        <!--<li><a>...</a></li>  <!--如果还有下一页，那么说明页数超过当前显示的页码数，那么就用省略号提示-->
                        <li><a href="?page={{ results.next_page_number }}" title="下一页">下一页</a></li>
                    {% else %}
                        <li class="disabled"><a href="javascript:void(0);" title="下一页">下一页</a></li>
                    {% endif %}
                    <li><a>{{ results.number }}/{{ page_range | length | add:"1" }}</a></li>
                    <li><a href="./?page={{ page_range | length | add:"1" }}">尾页</a></li> <!--链接到尾页-->
                </ul>
                <!--分页结束-->
        </div>

{% endblock %}

{% block js %}
    <script>
        $('#Data').addClass('active');  //给当页的Data添加颜色
    </script>
{% endblock %}



