<!DOCTYPE html>
<html lang="zxx">
<head>
    <title>{{ head_title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8" />
    <meta name="keywords" content="" />
    <link rel="shortcut icon" href="/static/admins/images/logo.png" />
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- Custom Theme files -->
    <link href="{% static 'users/css/bootstrap.css' %}" type="text/css" rel="stylesheet" media="all">
    <link href="{% static 'users/css/style.css' %}" type="text/css" rel="stylesheet" media="all">
    <!-- font-awesome icons -->
    <link href="{% static 'users/css/fontawesome-all.min.css' %}" rel="stylesheet">
    <!-- //Custom Theme files -->
    <!-- online-fonts -->
    <!-- <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=EB+Garamond:400,400i,500,500i,600,600i,700,700i,800,800i" rel="stylesheet"> -->
    <!-- //online-fonts -->
</head>
<body>
    <!-- banner -->
    <div class="banner" id="home">
        <!-- header -->
        <header>
			  <div class="top-head py-3">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 callnumber text-left">
                            </div>
                         </div>
                    </div>
               </div>
            <nav class="navbar navbar-expand-lg navbar-light bg-gradient-secondary pt-3">
                <h1>
                    <a class="navbar-brand" href="{% url 'home' %}">
                        Digital ECG
                    </a>
                </h1>
                <button class="navbar-toggler ml-md-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-lg-auto text-center">
                        <li class="nav-item active  mr-lg-3">
                            <a class="nav-link" href="{% url 'home' %}">Home
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item dropdown mr-lg-3">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                                Data
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="{% url 'history' %}">Historys</a>
                                <a class="dropdown-item" href="{% url 'gallery' %}">Gallery</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{% url 'upload' %}">Analysis</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown mr-lg-3">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                                Help
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="{% url 'about' %}">About</a>
                                <a class="dropdown-item" href="{% url 'contact' %}">Contact</a>
                                <a class="dropdown-item" href="{% url 'service' %}">Service</a>
                            </div>
                        </li>
        
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                            	<i class="fas fa-user"></i>&nbsp;&nbsp;&nbsp;{{ truename }}
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="{% url 'user_center' %}">Center</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{% url 'logout' %}">
                                	<i class="fas fa-power-off"></i>&nbsp;&nbsp;&nbsp;logout
                                </a>
                            </div>
                        </li>
                        <li>
                            <span style="color:white;font-weight:bolder;line-height: 38px">
                                <!--欢迎-->
                            </span>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- //header -->
        <div class="container">
            <!-- banner-text -->
            <a href="{% url 'home' %}" title="纸质心电图数字化存储"><div class="logo"></div></a>
            <div class="banner-text">
                <div class="callbacks_container">
                    <ul class="rslides" id="slider3">
                        <li>
                            <div class="slider-info">
                                <h3>Paper ECG Digital Storage</h3>
                               <a class="btn btn-primary mt-3" href="{% url 'upload' %}" role="button">Read more</a>
                            </div>
                        </li>
                        <li>
                            <div class="slider-info">
                              <h3>Discard Clutter Paper forever</h3>
                               <a class="btn btn-primary mt-3" href="{% url 'upload' %}" role="button">Read more</a>
                            </div>
                        </li>
                        <li>
                            <div class="slider-info">
                               <h3>Enjoy Convient For This Help</h3>
								<a class="btn btn-primary mt-3" href="{% url 'upload' %}" role="button">Read more</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="upload">
            	<h2 style="color:white;font-family: '幼圆';padding:5px 0;">-点击上传心纸质电图-</h2>
                <a class="btn btn-primary mt-3 btupload" href="{% url 'upload' %}" role="button">Upload/Camera</a>
            </div>
        </div>
        <!-- //container -->
    </div>
    <!-- //banner -->
    <div class="agileits-services py-md-5 py-4" id="services">
        <div class="container py-lg-5">
           <div class="w3ls-titles text-center mb-5">
				<h3 class="title"><span class="hdng">Services </span>We Provide</h3>
				<span class="btmspn">
					<i class="fas fa-heartbeat"></i>
				</span>
				<p class="mt-2 mx-auto">我们提供的服务</p>
			</div>
            <div class="agileits-services-row row py-lg-5 pb-5 text-center">
                <div class="col-lg-3 col-md-6">
                    <div class="agileits-services-grids">
                       <i class="fas fa-child"></i>
                        <h4>Team
                        </h4>
                        <span></span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius eum inventore consectetur. </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="agileits-services-grids mt-lg-0 mt-md-0 mt-5">
                       <i class="fas fa-balance-scale"></i>
                        <h4>Convient
                        </h4>
                        <span></span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius eum inventore consectetur. </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="agileits-services-grids mt-lg-0 mt-5">
                        <i class="fas fa-graduation-cap"></i>
                        <h4>Techonology
                        </h4>
                        <span></span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius eum inventore consectetur.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6  mt-lg-0 mt-5">
                    <div class="agileits-services-grids">
                       <i class="fas fa-bell"></i>
                        <h4>Bell
                        </h4>
                        <span></span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius eum inventore consectetur.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
  
	<!-- banner bottom -->
	<div class="banner-bottom py-5">
		<div class="container py-xl-3 py-lg-3">
			<div class="row">
				<div class="col-md-9 banner-left-bottom-w3ls">
					<h3 class="text-white my-3">More and more paper ECG make clutterring</h3>

				</div>
				<div class="col-md-3 button">
					<a href="{% url 'about' %}" class="w3ls-button-agile">Read More
						<i class="fas fa-hand-point-right"></i>
					</a>
				</div>
			</div>
		</div>
	</div>
	<!-- //banner bottom -->

    <!-- branches -->
    <section class="branches py-md-5 pt-4">
        <div class="container">
          <div class="w3ls-titles text-center mb-5">
				<h3 class="title"><span class="hdng">Relax </span>Moment</h3>
				<span class="btmspn">
					<i class="fas fa-heartbeat"></i>
				</span>
				<p class="mt-2 mx-auto">轻松时刻，轻松一下</p>
			</div>

            <div class="row py-5 branches-position">
                <div class="col-lg-3 col-md-6">
                    <!-- team-img -->
                    <div class="team-block">
                        <div class="team-img">
                            <img src="{% static 'users/images/h1.jpg' %}" alt="" class="img-fluid">
                            <div class="team-content">
                                <h4 class="text-white">Turkey</h4>
                                <p class="team-meta"> 8 days…</p>
                            </div>
                            <div class="overlay">
                                <div class="text">
                                     <p class="team-meta">-Istanbul,  </p>
                                    <p class="team-meta">- Antalya,</p>
                                   <p class="team-meta">
                                       -Ephesus.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.team-img -->
                <div class="col-lg-3 col-md-6">
                    <!-- team-img -->
                    <div class="team-block">
                        <div class="team-img">
                            <img src="{% static 'users/images/h2.jpg' %}" alt="" class="img-fluid">
                            <div class="team-content">
                                <h4 class="text-white">United Kingdom</h4>
                                <p class="team-meta">13 days…</p>
                            </div>
                            <div class="overlay">
                               <div class="text">
                                     <p class="team-meta">-England,   </p>
                                    <p class="team-meta">- Scotland,</p>
                                   <p class="team-meta">
                                       -Wales.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.team-img -->
                <div class="col-lg-3 col-md-6">
                    <!-- team-img -->
                    <div class="team-block">
                        <div class="team-img">
                            <img src="{% static 'users/images/h3.jpg' %}" alt="" class="img-fluid">
                            <div class="team-content">
                                <h4 class="text-white">Spain</h4>
                                <p class="team-meta">9 days…</p>
                            </div>
                            <div class="overlay">
                                <div class="text">
                                   <p class="team-meta">-Madrid,   </p>
                                    <p class="team-meta">- Andalucia,</p>
                                   <p class="team-meta">
                                       -Barcelona.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.team-img -->
                <div class="col-lg-3 col-md-6">
                    <!-- team-img -->
                    <div class="team-block">
                        <div class="team-img">
                            <img src="{% static 'users/images/h4.jpg' %}" alt="" class="img-fluid">
                            <div class="team-content">
                                <h4 class="text-white">Europe</h4>
                                <p class="team-meta">10 days…</p>
                            </div>
                            <div class="overlay">
                                <div class="text tex-center">
									
                                    <p class="team-meta">-Slovenia,  </p>
                                    <p class="team-meta">- Hungary,</p>
                                   <p class="team-meta">
                                       -Poland.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- //branches -->
<!--footer -->
<footer>
<section class="footer footer_w3layouts_section_1its py-5">
	<div class="container py-md-4">
		<div class="row footer-top">
			<div class="col-lg-4 col-md-6 col-sm-6 footer-grid_section_1its_w3">
				<div class="footer-title">
					<h3>About Us</h3>
				</div>
				<div class="footer-text">
					<p>Curabitur non nulla sit amet nislinit tempus convallis quis ac lectus. lac inia eget consectetur sed, convallis at tellus.
						Nulla porttitor accumsana tincidunt. Vestibulum ante ipsum primis tempus convallis.</p>

				</div>
			</div>

			<div class="col-lg-3 col-md-6 col-sm-3 footer-grid_section_1its_w3">
				<div class="footer-title">
					<h3>Useful Links</h3>
				</div>
				<ul class="links">
					<li><a href="{% url 'home' %}">Home</a></li>
					<li><a href="{% url 'about' %}">About</a></li>
					<li><a href="{% url 'upload' %}">Services</a></li>
					<li><a href="{% url 'gallery' %}">Gallery</a></li>
					<li><a href="{% url 'contact' %}">Contact Us</a></li>
				</ul>
			</div>
			<div class="col-lg-5 col-md-12 col-sm-12 footer-grid_section_1its_w3">
				<div class="footer-title">
					<h3>Subscribe</h3>
				</div>
				<div class="footer-text">
					<p>By subscribing to our mailing list you will always get latest news and updates from us.</p>
					<form action="#" method="post">
						<input type="email" name="Email" placeholder="Enter your email..." required="">
						<button class="btn1"><i class="fa fa-envelope" aria-hidden="true"></i></button>
						<div class="clearfix"> </div>
					</form>
				</div>
				<ul class="social_section_1info">
						<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
						<li><a href="#"><i class="fab fa-twitter"></i></a></li>
						<li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
						<li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
					</ul>
			</div>
		</div>
		<div class="row mt-md-5">
			<div class="col-md-4 phn_w3l">
				<h6 class="text-btm text-white">Phone : +2534894364</h6>
			</div>
			<div class="col-md-4 fax_w3l">
				<h6 class="text-btm text-white">Fax : +2534894364</h6>
			</div>
			<div class="col-md-4 ema-w3l">
				<h6 class="text-btm text-white">Email : <a href="mailto:info@example.com">info@example.com</a></h6>
			</div>
		</div>
	</div>
</section>
</footer>
<!-- //footer -->

    <div class="cpy-right text-center  py-3">
        <p class="text-white">Copyright &copy; 2019.Company "VV0 31501142" All rights reserved.</p>
    </div>
    <!-- //footer -->

    <!-- login  -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Login</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="#" method="post">
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Username</label>
                            <input type="text" class="form-control" placeholder=" " name="Name" id="recipient-name" required="">
                        </div>
                        <div class="form-group">
                            <label for="password" class="col-form-label">Password</label>
                            <input type="password" class="form-control" placeholder=" " name="Password" id="password" required="">
                        </div>
                        <div class="right-w3l">
                            <input type="submit" class="form-control serv_bottom" value="Login">
                        </div>
                        <div class="row sub-w3l my-3">
                            <div class="col sub-agile">
                                <input type="checkbox" id="brand1" value="">
                                <label for="brand1" class="text-secondary">
                                    <span></span>Remember me?</label>
                            </div>
                            <div class="col forgot-w3l text-right">
                                <a href="#" data-toggle="modal" data-target="#exampleModal2" class="text-dark font-weight-bold">Forgot Password?</a>
                            </div>
                        </div>
                        <p class="text-center text-secondary">Don't have an account?
                            <a href="#" data-toggle="modal" data-target="#exampleModal1" class="text-dark font-weight-bold">
                                Register Now</a>
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- // login -->
    <!-- register -->
    <div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content" style="margin-left:-9px">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel1">Register</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="#" method="post">
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Username</label>
                            <input type="text" class="form-control" placeholder=" " name="Name" id="recipient-rname" required="">
                        </div>
                        <div class="form-group">
                            <label for="recipient-email" class="col-form-label">Email</label>
                            <input type="email" class="form-control" placeholder=" " name="Email" id="recipient-email" required="">
                        </div>
                        <div class="form-group">
                            <label for="password1" class="col-form-label">Password</label>
                            <input type="password" class="form-control" placeholder=" " name="Password" id="password1" required="">
                        </div>
                        <div class="form-group">
                            <label for="password2" class="col-form-label">Confirm Password</label>
                            <input type="password" class="form-control" placeholder=" " name="Confirm Password" id="password2" required="">
                        </div>
                        <div class="sub-w3l">
                            <div class="sub-agile">
                                <input type="checkbox" id="brand2" value="">
                                <label for="brand2" class="mb-3">
                                    <span></span>I Accept to the Terms & Conditions</label>
                            </div>
                        </div>
                        <div class="right-w3l">
                            <input type="submit" class="form-control serv_bottom" value="Register">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- // register -->
    <!-- forget -->
    <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content" style="margin-left:-9px">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel3">Forget</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="#" method="post">
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Username</label>
                            <input type="text" class="form-control" placeholder=" " name="Name" id="recipient-rname" required="">
                        </div>
                        <div class="form-group">
                            <label for="recipient-email" class="col-form-label">Email</label>
                            <input type="email" class="form-control" placeholder=" " name="Email" id="recipient-email" required="">
                        </div>
                        <div class="form-group">
                            <label for="password1" class="col-form-label">Password</label>
                            <input type="password" class="form-control" placeholder=" " name="Password" id="password1" required="">
                        </div>
                        <div class="form-group">
                            <label for="password2" class="col-form-label">Confirm Password</label>
                            <input type="password" class="form-control" placeholder=" " name="Confirm Password" id="password2" required="">
                        </div>
                        <div class="right-w3l">
                            <input type="submit" class="form-control serv_bottom" value="Confirm">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- // forget-->
    <!-- js -->
    <script src="{% static 'users/js/jquery-2.2.3.min.js' %}"></script>
    <!-- //js -->
    <!-- script for password match -->
    <script>
        window.onload = function () {
            document.getElementById("password1").onchange = validatePassword;
            document.getElementById("password2").onchange = validatePassword;
        }

        function validatePassword() {
            var pass2 = document.getElementById("password2").value;
            var pass1 = document.getElementById("password1").value;
            if (pass1 != pass2)
                document.getElementById("password2").setCustomValidity("Passwords Don't Match");
            else
                document.getElementById("password2").setCustomValidity('');
            //empty string means no validation error
        }
    </script>
    <!-- script for password match -->
    <!-- contact validation js -->
    <script src="{% static 'users/js/form-validation.js' %}"></script>
    <!-- Responsiveslides -->
    <script src="{% static 'users/js/responsiveslides.min.js' %}"></script>
    <script>
        // You can also use "$(window).load(function() {"
        $(function () {
            // Slideshow 4
            $("#slider3").responsiveSlides({
                auto: false,
                pager: true,
                nav: false,
                speed: 500,
                namespace: "callbacks",
                before: function () {
                    $('.events').append("<li>before event fired.</li>");
                },
                after: function () {
                    $('.events').append("<li>after event fired.</li>");
                }
            });

        });
    </script>
    <!-- // Responsiveslides -->
	 <!-- stats -->
    <script src="{% static 'users/js/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'users/js/jquery.countup.js' %}"></script>
    <script>
        $('.counter').countUp();

    </script>
    <!-- //stats -->

    <!-- start-smooth-scrolling -->
    <script src="{% static 'users/js/move-top.js' %}"></script>
    <script src="{% static 'users/js/easing.js' %}"></script>
    <script>
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();

                $('html,body').animate({
                    scrollTop: $(this.hash).offset().top
                }, 1000);
            });
        });
    </script>
    <!-- //end-smooth-scrolling -->
    <!-- smooth-scrolling-of-move-up -->
    <script>
        $(document).ready(function () {
            /*
            var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear'
            };
            */

            $().UItoTop({
                easingType: 'easeOutQuart'
            });

        });
    </script>
    <script src="{% static 'users/js/SmoothScroll.min.js' %}"></script>
    <!-- Bootstrap core JavaScript
================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'users/js/bootstrap.js' %}"></script>
</body>
</html>