{% extends 'users/base_a.html' %}

{% block title %}Usercenter{%  endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'users/css/smoothbox.css' %}" type='text/css' media="all" />
    <script>
        {% if results %}
        alert("{{ results }}");
        //如果是get请求，那么这个地方不会执行；如果是提交之后，那么就要显示修改的情况。所以get请求不要返回results这个字典
        {% endif %}
    </script>
{% endblock %}

{% block currentname %}center{% endblock %}

{% block content %}
<!-- usercenter -->
<div class="agileits-services py-sm-5" id="gallery">
    <div class="container py-lg-5 pt-3 pb-5">
        <div class="w3ls-titles text-center mb-3">
            <h3 class="title">Center</h3>
            <span class="btmspn">
            <i class="fas fa-heartbeat"></i>
        </span>
        </div>
        <div class="w3ls_gallery_grids pt-md-5 pt-3">
            <div class="row agileits_w3layouts_gallery_grid">
                <div class="col-sm-4 mt-">
                    <div class="card card-light col-12" >
                    <img class="card-img-top" src="/media/result/2034442699.jfif/" alt="Card image" style="width:100%;margin-top:15px">
                    <div class="card-body">
                        <h4 class="card-title">{{ data.name }}</h4>
                        {% if data.details %}
                            <p class="card-text">座右铭：{{ data.details }} </p>
                        {% else %}
                            <p class="card-text">没有更多的信息了</p>
                        {% endif %}
                    </div>
                    </div>
                </div>
                <div class="col-sm-8">
                    <section class="page">
                        <section>
                            <ul class="tabs-controls">
                                <li class="tabs-controls__item">
                                    <a href="#" class="tabs-controls__link tabs-controls__link--active" data-id="1">
                                        个人资料
                                    </a>
                                </li>
                                <li class="tabs-controls__item">
                                    <a href="#" class="tabs-controls__link" data-id="2">
                                        修改资料
                                    </a>
                                </li>
                                <li class="tabs-controls__item">
                                    <a href="#" class="tabs-controls__link" data-id="3">
                                        其他
                                    </a>
                                </li>
                            </ul>
                        </section>
                        <section class="cards-container">
                            <div class="mycard card--current" id="1">
                                <h3>个人信息</h3>
                                <br />
                                <p>
                                    <span>姓名：{{ data.name }}</span>
                                </p>
                                <br />
                                <p>
                                    {% if data.gender == "female" %}
                                        <span>性别：女</span>
                                    {% else %}
                                        <span>性别：男</span>
                                    {% endif %}
                                </p>
                                <br />
                                <p>
                                    <span>年龄：{{ data.age }}岁</span>
                                </p>
                                <br />
                                <p>
                                    <span>电话号码：{{ data.username }}</span>
                                </p>
                                <br />
                                <p>
                                    <span>邮箱：{{ data.email }}</span>
                                </p>
                                <br />
                                <p>
                                    <span>自我介绍：{{ data.details }}</span>
                                </p>
                                <div class="slider-dark">
                                    <a href="#" class="btn tabs-controls__link mytab mt-3 btn-dark" data-id="2">
                                        修改资料
                                    </a>

                                </div>
                            </div>
                            <div class="mycard" id="2">
                                <h3>修改信息<span style="color: red;font-size: 15px;">(注：以下信息留空则不修改该项内容)</span></h3>
                                <form action="{% url 'user_center' %}" method="post">
                                    <br>
                                    <div class="form-group">
                                        <input type="text" name="name" class="form-control" id="name" placeholder="姓名：{{ data.name }}">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" name="age" class="form-control" id="age" placeholder="年龄：{{ data.age }}岁">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" name="phone" class="form-control" id="phone" placeholder="手机号：{{ data.username }}">
                                    </div>
                                    <div class="form-group">
                                        <input type="password" name="password" class="form-control" id="pdw" placeholder="新密码：******">
                                    </div>
                                    <div class="form-group">
                                        <input type="email" name="email" class="form-control" id="email" placeholder="邮箱：{{ data.email }}">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" name="details" class="form-control" id="details" placeholder="详细介绍：{{ data.details }}">
                                    </div>
                                    <button type="submit" class="btn btn-dark">确定修改</button>
                                </form>
                            </div>
                            <div class="mycard" id="3">
                                <h3>其他</h3>
                                <p>

                                </p>
                            </div>
                        </section>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>

		<!-- //usercenter -->
{% endblock %}

{% block js %}
    <script>
        $('#user_center').addClass('active');  //给当页的Data添加颜色

        $(document).ready(function() {
            var oldId = null;

            $('.tabs-controls__link').click(function(e) {
                e.preventDefault();

                if($(this).hasClass('tabs-controls__link--active')) {
                    return false;
                }

                var currentId = parseInt($(this).data('id'), 10);
                $('.tabs-controls__link--active').removeClass('tabs-controls__link--active');
                $(this).addClass('tabs-controls__link--active');

                if(currentId < oldId) { // item is hidden
                    var timing = $('.card.hidden').length * 100;
                    $('.mycard').each(function(index) {
                        if(index > (currentId - 1) || index == (currentId - 1)) {
                            window.setTimeout(function() {
                                $('.mycard').eq(index).removeClass('hidden');
                            }, timing - (index * 100));
                        }
                    });
                } else {
                    $('.mycard').each(function(index) {
                        if(index < (currentId - 1)) {
                            window.setTimeout(function() {
                                $('.mycard').eq(index).addClass('hidden');
                            }, index * 100);
                        }
                    });
                }

                oldId = currentId;
                //开始
                //结束

            });

        });

        //有这个js的存在，切换成修改资料的效果就出不来，所以就直接用form提交了
        /*function Modify() {
            swal({
                    title: "你确定修改吗？",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonClass: "btn-warning",
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "确认",
                    cancelButtonText: "取消",
                    closeOnConfirm: false,
                    showLoaderOnConfirm: true // 显示删除的状态
                },
                function () {
                    // 向后端发送删除的请求
                    $.ajax({
                        url: "{% url 'user_center' %}",
                        type: "POST",
                        data: {
                            "name": $(#name).val(),
                            "age": $(#age).val(),
                            "phone": $(#phone).val(),
                            "pwd": $(#pwd).val(),
                            "email": $(#email).val(),
                            "details": $(#details).val()
                        },
                        fails: function(arg) {
                            alert('修改失败');
                        },
                        success: function(arg) {
                            arg = JSON.parse(arg);
                            console.log("返回了："+arg);
                            if (arg["status"]){
                                //swal("成功", "你已成功修改个人资料", "success");
                                alert("成功修改");
                                //window.location.href = '{% url 'user_center' %}';
                            }
                            else{
                                alert("修改失败");
                            }
                        }
                    });
                });
        }*/
    </script>
{% endblock %}



